@model PagedList.IPagedList<Implementation.AnagramSolver.Model.UserLog>
@using PagedList.Mvc;

@{
    ViewBag.Title = "User logs";
}
<h2>User logs</h2>

<table class="table">
    <tr>
        <th> IP Address </th>
        <th> Time </th>
        <th> Word </th>
        <th> Anagrams </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.IP_address </td>
            <td> @item.Time </td>
            <td> @item.CachedWord </td>
            <td> @String.Join(", ", item.Anagrams) </td>
        </tr>
    }
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Logs", new { page }))


